
/* #header #logo a {
	width: 415px;
	height: 120px;
	display: block;
} */

/* スライド */
#main{
  width: 1000px;
  height: 410px;
}

#main_img img{
  width: 1000px;
  height: 410px;
  /* display: block; */
  border-top: 15px solid #2e3192;
  border-bottom: 15px solid #2e3192;
  position:absolute
}
#moji img{
  width: 1000px;
  height: 410px;
  padding:  20px;
	/* display: none; */
}

#moji .first img{
  position:relative;
  display: none;
}
#moji .second img{
  position:relative;
  display: none;
}







/* menu */

#item ul li{
  width: 182px;
  height: 124px;
  float: left;
  margin: 0 9px;
}

#item ul li img{
  width: 182px;
  height: 81px;
}

#item p.moji{
  font-size: 10px;
  margin-top: 5px;
}
#item p.more{
  font-size: 14px;
  color:#29aae3;
}
