
#wrapper{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#logo{
  float: left;
}

#menu{
  float: right;
}
#header{
  width: 1000px;
  height: 129px;
}

#menu ul li{
	margin: 0 8px;
  float: left;
}

#menu ul{
  height: 50px;
  margin-top:50px;
}

#menu ul li a{
  height: 50px;
  line-height: 50px
}

#header #logo a {
	width: 415px;
	height: 120px;
	display: block;
}

#footer{
  margin-top: 40px;
  border-top: 2px solid #bfbfbf;
  width: 1000px;
}
#footer p{
  width: 1000px;
  height: 38px;
  text-align: right;
  color: #333;
  padding: 10px;

}
